html {
    font-family: 'Courier New', Courier, monospace;
}

body {
    min-height: 100vh;
    background: linear-gradient(170deg, #fcfcfc, #faf8f8);
    margin: 0;
    font-size: 20px;
}

* {
    color: cornflowerblue;
    margin: 0;
    padding: 0;
}

p {
    display: inline-block;
}

#app {
    min-height: 80vh;
    display: grid;
    place-items: center;
}

canvas {
    border: 1px solid rgba(0 0 0 / 10%);
    box-shadow: 1em 0 20em rgb(0 0 0 / 2%);
}