html {
    font-family: 'Courier New', Courier, monospace;
}

body {
    min-height: 100vh;
    background: linear-gradient(170deg, #fcfcfc, #faf8f8);
    font-size: 20px;
    
    overflow: hidden;
}

* {
    color: cornflowerblue;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    display: inline-block;
    margin-bottom: 1em;
}

ul {
    margin: 0 0 1em 2em;
    list-style: none;
    line-height: 1.6;
}

.toc {
    margin: 1em;
}

#app {
    min-height: 80vh;
    display: grid;
    place-items: center;
}

canvas {
    outline: 1px solid rgba(0 0 0 / 10%);
    box-shadow: 1em 0 20em rgb(0 0 0 / 2%);
}